{{!-- This is now views/partials/all-posts.handlebars --}}
{{#each posts}}
<article class="post">
  <h2>{{this.title}}</h2>
  <p>{{this.content}}</p>
  <!-- Add other post details you want to display -->
</article>
{{/each}}


