<!-- File: views/dashboard.handlebars: -->

<main>
  <h1>Dashboard</h1>
  <button onclick="window.location='/'">Home</button>
  <button id="logoutButton">Logout</button>
  <!-- Your future blog post elements will go here -->
</main>
