{{!-- views/layouts/main.handlebars: --}}
<!DOCTYPE html>
<html>
<head>
  <!-- Head content like linking CSS files -->
  <link rel="stylesheet" href="/css/style.css">
  <title>The Tech Blog</title>
</head>
<body>
  <header>
    <!-- Navigation links -->
    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
        {{#unless onDashboard}}
          <a href="/dashboard">Dashboard</a>
        {{/unless}}
        <form id="logoutForm" action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      {{/if}}
    </nav>
  </header>
  {{{body}}}
  <footer>
    <!-- Footer content -->
  </footer>
  <!-- Scripts -->
  <script src="/js/logout.js"></script>
</body>
</html>


