{{!-- views/layouts/main.handlebars: --}}
<!DOCTYPE html>
<html>
<head>
  <!-- Head content like linking CSS files -->
  <title>The Tech Blog</title>
</head>
<body>
  <header>
    <!-- Navigation links -->
    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logoutButton">Logout</button>
      {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      {{/if}}
    </nav>
  </header>
  {{{body}}}
  <footer>
    <!-- Footer content -->
  </footer>
  <script src="/js/logout.js"></script>
</body>
</html>
