{{!-- views/layouts/main.handlebars: --}}
<!DOCTYPE html>
<html>
<head>
  <!-- Head content like linking CSS files -->
  <link rel="stylesheet" href="/css/style.css">
  <title>The Tech Blog</title>
</head>
<body>
  <header>
    <!-- Navigation links -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout" id="logoutLink">Logout</a></li> <!-- Added an id to the logout link -->
        <!-- Other navigation links here -->
      </ul>
    </nav>
  </header>
  {{{body}}}
  <footer>
    <!-- Footer content -->
  </footer>
  <!-- Scripts -->
  <script src="/js/comment.js" defer></script>
  <script src="/js/logout.js"></script>
</body>
</html>



