<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <!-- Add any head elements like CSS links here -->
</head>
<body>
    <!-- This is where the content of your other Handlebars templates will go -->
    {{{body}}}

    <!-- You can include global scripts or footer elements here -->
</body>
</html>
